body { 
    background-image:url('images/Gif/matrix.gif'); 
    background-repeat:repeat; 
}

html, body {
    margin:0 5%;
    padding:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #333;
    color: greenyellow;
    text-transform: uppercase;
}

.title {
    flex:1;
    padding-left: 30px;
}

ul {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 40px;
}

ul li {
    display: inline;
    text-decoration: none;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 30;
}

.main > * {
    border: solid burlywood;
    background-color: aliceblue;
}

.section1 {
    display: flex;
    flex: 1;
    /* justify-content: center; */
    align-items: center;
    
}

.subsection1 {
    display: flex;
    flex: 1;
}

.s1-small-text {
    display: flex;
    flex-wrap: wrap;
    border: solid burlywood;
}

.section2 {
    display: flex;
    flex: 1;
}

.section3 {
    display: flex;
    flex: 1;
}

.section4 {
    display: flex;
    flex: 1;
}

.footer {
    display: flex;
    margin: auto;
    padding: 20px 0px;
}