@font-face {
  font-family: "Rajdhani-Regular";
  src: url(Fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: "Rajdhani-Bold";
  src: url(Fonts/Rajdhani/Rajdhani-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani-Bold";
}

* > p {
  font-family: "Rajdhani-Regular";
}

h1 h2 h3 {
  font-family: "Rajdhani-Bold";
}

/* END FONT DECLARATIONS */

/* BASIC BODY MORPHING */
html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  margin-inline: auto;
  flex-wrap: wrap;
}

/* HEADER START */
.header {
  display: flex;
  flex-direction: column;
  padding: 0 50px 50px;
  background-color: #373535;
  border-bottom: 2px solid rgb(255, 132, 0);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  text-transform: uppercase;
}

.nav-title {
  color: #7a7878;
}

.nav-title span {
  color: rgb(255, 132, 0);
}

.nav-links > * {
  display: flex;
  gap: 2rem;
  font-size: larger;
  color: rgb(255, 132, 0);
}

ul li {
  display: inline;
  font-family: "Rajdhani-Regular";
}

a {
  text-decoration: none;
  gap: 20px;
  color: inherit;
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-intro {
  display: flex;
  flex-direction: column;
  color: antiquewhite;
}

.sub-intro span {
  color: rgb(255, 132, 0);
}

.button {
  width: 60px;
  margin-top: 10px;
  padding: 5px;
  color: rgb(255, 132, 0);
  background-color: antiquewhite;
}

:hover.button {
  color: antiquewhite;
  background-color: rgb(255, 132, 0);
}

.header img {
  width: 225px;
  flex-wrap: wrap;
  border: 3px solid rgb(255, 132, 0);
}

/* HEADER END */

/* MAIN START */
.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  margin-inline: auto;
}

.section1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #373535;
}

.section1 h2 {
  padding: 50px 50px 50px;
  color: antiquewhite;
}

.subsection1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  flex: 1;
}

.sub {
  padding: 30px 5px;
}

.sub img {
  width: 200px;
  margin-bottom: 20px;
}

.sub p {
  text-transform: uppercase;
  font-family: "Rajdhani-Bold";
  font-size: large;
}

.structure {
  color: rgb(255, 68, 0);
}

.style {
  color: rgb(0, 174, 255);
}

.sparkle {
  color: rgb(255, 196, 0);
}

.snake {
  color: rgb(255, 242, 122);
}

.snake span {
  color: rgb(45, 107, 157);
}

.section2 {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  background-color: #ffffff;
}

.section3 {
  background-color: #824444;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.subsection3 {
  display: flex;
  flex-direction: column;
}

.quote {
  flex: 1;
  flex-wrap: wrap;
}

h3 {
  flex: 1;
  flex-wrap: wrap;
}

/* MAIN END */

/* FOOTER START */
.footer {
  background-color: #ffffff;
  flex: 0;
}

h4 {
  text-align: center;
  font-family: "Rajdhani-Bold";
}
