@font-face {
  font-family: "Rajdhani-Regular";
  src: url(Fonts/Rajdhani/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: "Rajdhani-Bold";
  src: url(Fonts/Rajdhani/Rajdhani-Bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Rajdhani-Bold";
}

* > p {
  font-family: "Rajdhani-Regular";
}

h1 h2 h3 {
  font-family: "Rajdhani-Bold";
}

/* END FONT DECLARATIONS */

/* BASIC BODY MORPHING */

html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  margin-inline: auto;
  flex-wrap: wrap;
}

/* HEADER START */

.header {
  padding: 0 50px 50px;
  background-color: #373535;
  border-bottom: 1px solid rgb(255, 132, 0);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  text-transform: uppercase;
}

.nav-title {
  color: #7a7878;
}

.nav-title span {
  color: rgb(255, 132, 0);
}

.tag {
  text-decoration: underline;
  text-decoration-color: rgb(255, 132, 0);
}

.nav-links > * {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-size: larger;
  color: rgb(255, 132, 0);
}

ul {
  margin-right: 75px;
}

.nav li {
  display: inline;
  font-family: "Rajdhani-Regular";
}

.nav a {
  text-decoration: none;
  gap: 20px;
  color: inherit;
}

.nav a:hover {
  color: antiquewhite;
}

.nav a::before {
  content: "";
  display: block;
  height: 1px;
  width: 0%;
  background-color: rgb(255, 132, 0);
  transition: all ease-in-out 250ms;
}

.nav a:hover::before {
  width: 100%;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
  gap: 5rem;
}

.sub-intro {
  display: flex;
  flex-direction: column;
  color: antiquewhite;
}

.sub-intro span {
  color: rgb(255, 132, 0);
}

.button {
  width: 60px;
  margin-top: 10px;
  padding: 5px;
  color: rgb(255, 132, 0);
  background-color: antiquewhite;
}

:hover.button {
  color: antiquewhite;
  background-color: rgb(255, 132, 0);
}

.header img {
  width: 175px;
  flex-wrap: wrap;
  border: 2px solid rgb(255, 132, 0);
  border-radius: 50%;
}

/* HEADER END */

/* MAIN START */

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  text-align: center;
  margin-inline: auto;
}

.section1 {
  background-color: rgb(86, 86, 86);
  border-bottom: 1px solid rgb(255, 132, 0);
}

.section1 h2 {
  padding: 30px;
  color: rgb(248, 232, 212);
}

h2 span {
  color: rgb(255, 132, 0);
}

.subsection1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sub {
  padding-bottom: 25px;
}

.sub img {
  width: 200px;
  margin-bottom: 20px;
}

.sub p {
  text-transform: uppercase;
  font-family: "Rajdhani-Bold";
  font-size: large;
  margin: 0 15px;
}

.structure {
  color: rgb(255, 68, 0);
  border: 1px solid rgb(255, 68, 0);
}

.style {
  color: rgb(0, 174, 255);
  border: 1px solid rgb(0, 174, 255);
}

.sparkle {
  color: rgb(255, 196, 0);
  border: 1px solid rgb(255, 196, 0);
}

.snake {
  border-bottom: 1px solid rgb(255, 242, 122);
  border-right: 1px solid rgb(255, 242, 122);
  color: rgb(87, 156, 213);
  border-top: 1px solid rgb(87, 156, 213);
  border-left: 1px solid;
}

.snake span {
  color: rgb(255, 242, 122);
}

/* SECTION 1 END */

.section2 {
  flex: 1;
  padding: 50px;
  background-color: #373535;
  border-bottom: 1px solid rgb(255, 132, 0);
}

.quote {
  color: antiquewhite;
}

h3 {
  color: antiquewhite;
}

h3 span {
  color: rgb(255, 132, 0);
}

/* SECTION 2 END */

/* SECTION 3 START */

.section3 {
  display: flex;
  background-color: rgb(86, 86, 86);
  justify-content: center;
  border-bottom: 1px solid rgb(255, 132, 0);
}

.subsection3 {
  display: flex;
  border: 1px solid rgb(255, 132, 0);
  margin: 20px;
  align-items: center;
}

.s3-text {
  margin: 20px;
  color: antiquewhite;
  font-weight: 600;
}

.s3-text span {
  color: rgb(255, 132, 0);
}

.button2 {
  width: 80px;
  height: 30px;
  color: rgb(255, 132, 0);
  background-color: antiquewhite;
  margin: 20px;
}

:hover.button2 {
  color: antiquewhite;
  background-color: rgb(255, 132, 0);
}

/* MAIN END */

/* FOOTER START */

.footer {
  background-color: rgb(255, 132, 0);
  color: #373535;
  padding: 5px 0px;
  background-image: url(images/Gif/matrix.gif);
}

h4 {
  text-align: center;
  font-family: "Rajdhani-Bold";
  color: antiquewhite;
}

h4 span {
  color: rgb(255, 132, 0);
}

button {
  text-transform: uppercase;
}
